@charset "utf-8";



.game .list1 {
    background: url("../images/1.jpg");
    background-size: cover;
}

.game .list2 {
    background: url("../images/2.jpg");
    background-size: cover;
}

.game .list3 {
    background: url("../images/3.jpg");
    background-size: cover;
}

.game .list4 {
    background: url("../images/4.jpg");
    background-size: cover;
}

.game .list5 {
    background: url("../images/5.jpg");
    background-size: cover;
}

.game .list6 {
    background: url("../images/6.jpg");
    background-size: cover;
}

.game .list7 {
    background: url("../images/7.jpg");
    background-size: cover;
}

.game .list8 {
    background: url("../images/8.jpg");
    background-size: cover;
}

.game .list9 {
    background: url("../images/9.jpg");
    background-size: cover;
}

.game .list10 {
    background: url("../images/10.jpg");
    background-size: cover;
}


