@charset "utf-8";

body {
    margin: 0;
    padding: 0;
}

.control {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.control input {
    width: 40px;
    text-align: center;
}

.control span {
    /*font-size: 12px;*/
    /*color: #999;*/
}

h3 {
    text-align: center;
}

.game {
    width: 360px;
    height: 600px;
    margin: 0 auto;
    padding: 10px;
    background: #eeeeee;
    position: relative;
}

.game-over {
    display: none;
    width: 100%;
    height: 300px;
    text-align: center;
}

.game .cell {
    width: 80px;
    height: 80px;
    color: #eeeeee;
    background: #cccccc;
    text-align: center;
    font-size: 24px;
    float: left;
    position: relative;
}

.game .cell2 {
    width: 40px;
    height: 40px;
    color: #eeeeee;
    background: #cccccc;
    text-align: center;
    font-size: 24px;
    float: left;
    position: relative;
}

.game .list0 {
    background: none;
}

.game .active {
    width: 76px;
    height: 76px;
    border: solid 2px #c00;
}

.game .active2 {
    width: 36px;
    height: 36px;
    border: solid 2px #c00;
}

.game .line {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: #c00;
}

button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#tips {
    margin-top: 50px;
    font-size: 24px;
    padding: 10px;
}